@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: feSpotLight) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fullscreen-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* Ensure no overflow from child elements */
}

.fullscreen-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  /* Send the background behind other content */
}

.title {
  padding: 1rem;
  size: 10px;
}

.image-container {
  padding-top: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.text-overlay {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}